<section>
  <div class="page-header">
    <h1>
      Shortcuts
      <a class="btn btn-primary pull-right" data-ui-sref="admin.shortcuts.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="shortcut in vm.shortcuts" data-ui-sref="admin.shortcuts.edit({shortcutId: shortcut._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="shortcut.created | date:'mediumDate'"></span>
        by
        <span ng-if="shortcut.user" ng-bind="shortcut.user.displayName"></span>
        <span ng-if="!shortcut.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="shortcut.title"></h4>
      <p class="list-group-item-text" data-ng-bind="shortcut.content"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="shortcuts.$resolved && !shortcuts.length">
    No shortcuts yet, why don't you <a data-ui-sref="admin.shortcuts.create">create one</a>?
  </div>
</section>
