<section>
  <div class="page-header">
    <h1>Allowed Logins</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <a class="btn btn-primary pull-right" ui-sref="admin.allowed-logins.create">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="login in vm.pagedItems" ui-sref="admin.allowed-logins.view({allowedLoginId: login._id})" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="login.email"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="login.isAdmin ? 'Admin rights' : ''"></p>
      <p class="list-group-item-text" ng-bind="login.isDisabled ? 'Disabled' : ''"></p>
      <br/>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
