<section>
  <div class="page-header">
    <h1>Shortcuts</h1>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <a class="btn btn-primary pull-right" ng-if="vm.user" data-ui-sref="shortcuts.create">
          <i class="glyphicon glyphicon-plus"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <a ng-repeat="shortcut in vm.pagedItems" ui-sref="shortcuts.view({ shortcutId: shortcut._id })" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="shortcut.created | date:'mediumDate'"></span>
        by
        <span ng-if="shortcut.user" ng-bind="shortcut.user.displayName"></span>
        <span ng-if="!shortcut.user">Deleted User</span>
      </small>
      <h3 class="list-group-item-heading" ng-bind="shortcut.code"></h3>
      <h4 class="list-group-item-heading" ng-bind="shortcut.target"></h4>
      <small class="list-group-item-text">
        Last visit: <span ng-bind="shortcut.lastVisit ? (shortcut.lastVisit | date:'medium') : '0'"></span><br />
        Total visits: <span ng-bind="shortcut.totalVisits ? shortcut.totalVisits : '0'"></span>
      </small>
    </a>
  </div>

  <uib-pagination boundary-links="true" max-size="8" items-per-page="vm.itemsPerPage" total-items="vm.filterLength" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></uib-pagination>
</section>
