<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h3 ng-bind="vm.shortcut.code"></h3>
        <h4 ng-bind="vm.shortcut.target"></h4>
        <div>
          Last visit: <span ng-bind="vm.shortcut.lastVisit">0</span><br />
          Total visits: <span ng-bind="vm.shortcut.totalVisits">0</span>
        </div>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ng-if="vm.canEdit" ui-sref="shortcuts.edit({shortcutId: vm.shortcut._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="vm.remove()" ng-if="vm.canEdit">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h5>
          <span class="pull-right">
            <em class="small">test link: </em>
            <a href="../{{vm.shortcut.code}}" target="_blank">{{vm.getShortcutLink()}}</a>
          </span>
        </h5>
      </div>
    </div>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.shortcut.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.shortcut.user" ng-bind="vm.shortcut.user.displayName"></span>
      <span ng-if="!vm.shortcut.user">Deleted User</span>
    </em>
  </small>
</section>
